<!DOCTYPE html>
<html lang="en">

<head>
    <title>Koreconx - KoreContract</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/pnotify.custom.min.css">
    <link rel="stylesheet" href="/css/waitMe.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Koreconx</a>
    </nav>